*.o
*.o.d
*.o.tmp
*.a
*.bash
*.mk
doxygen/output
.vimprj/tags
.vimprj/*_tags
tn_cfg.h

*.map
*.elf
*.bin
bin
*.disasm
*-build-*
nbproject/private
Makefile-genesis.properties

Objects
Listings
*.build_log.htm*
*.uvguix.*
*.uvoptx

tneo_cortex_m_eclipse/Debug
tneo_cortex_m_eclipse/Release

tneo_cortex_m_coocox/Debug
*.xcodeproj
*.cogui
*.comarker

tneo_cortex_m_iar/Debug
tneo_cortex_m_iar/settings
*.dep
*.ewd

*.tmp

Makefile.deps

